.note{
padding: 1rem;
padding-bottom: 1.5rem;
margin-bottom: 1rem;
border: solid;
margin-top: 0;
opacity: 1; 
    &__container{
        list-style: none;
        margin: 0;
        padding: 0;
        padding-bottom: 2rem;
    }
    &>*{
        display: block;
        margin-bottom: .5rem;
    }
    &__title{
        padding: 0;
        margin: 0;
        font-size: x-large;
        width: 100%;
    }
    &__content{
        border: 1px solid;
        width: 100%;
        height: 15rem;

    }
    &__btn{
        display: inline;
    }
    input:read-only, textarea:read-only{
        border: none;
        *:focus{
            border: none;
        }
    }
}

